### Tâche ###
task.txt
test.php

### SVN ###
.svn

### NPM ###
node_modules/
package-lock.json
package.json

### VisualStudioCode ###
.vscode

### VisualStudioCode Patch ###
.history

# Fin